/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

/* Banner Styles */
.banner {
  text-align: center;
  padding: 3em 0;
  background: #333; 
  color: white;
}

.banner h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
}

/* Banner Paragraph Styles */
.banner p {
  font-size: 1.2em;
  margin: 0 auto; 
  font-weight: 300;
  color: #ffffff; 
  line-height: 1.6; 
  max-width: 800px; 
  padding: 0 20px; /
}


/* Featured Products Styles */
.featured-products {
  margin: 2em 0;
  padding: 1em 0;
  background: #fff;
}

.featured-products h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 0.5em;
}

.featured-products .section-intro {
  text-align: center;
  font-size: 1em;
  color: #555;
  margin-bottom: 2em;
}

/* Products List */
.products-list {
  display: flex;
  margin-top: 2em;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.product {
  background: white;
  border: none;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px; 
  text-align: center;
}

.product:hover {
  transform: translateY(-5px);
}

.product h3 {
  color: #333;
  margin: 0.5em 0;
}

.product p {
  color: #555;
}

.product-name {
  font-size: 1em; 
  margin-top: 10px;
}

.product-image {
  width: 100%;
  max-width: 200px; 
  height: auto;
  object-fit: contain; 
  margin: 0 auto; 
}

.view-product-btn {
    display: block;
    background-color: #396462;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1em;
  }

.view-product-btn:hover {
  background-color:  #292f36;
}

/* Navbar Styles */
nav {
  background: #1c1c1c;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
}

nav a:hover {
  background: #555;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #1c1c1c;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  color: white;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #555;
}

/* Responsive Navbar Toggle */
.nav-toggle {
  display: none;
  cursor: pointer;
}

.nav-toggle-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
}

/* Product Details Page */
.product-details {
  background: #d0d6d1;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 20px;
  max-width: 500px; 
  text-align: center; 
  margin-top: 2em;
}

.product-details h1 {
  color: #333;
  font-size: 1.75em; 
  margin-bottom: 0.5em;
}

.product-details p {
  color: #555;
  margin-bottom: 0.75em;
}

.product-details strong {
  display: block; 
  margin-bottom: 0.25em;
  color: #333;
  font-size: 1.1em;
}

.product-details {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  border-radius: 8px; 
}

.back-btn {
  display: block;
  background-color: #396462;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1em;
}

.back-btn:hover {
  background-color: #292f36;
}

/* All Products Styles */
.all-products h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 0.5em;
}

.all-products .section-intro {
  margin-top: 2em; 
  text-align: center;
  font-size: 1em;
  color: #555;
  margin-top: 2em;
  margin-bottom: 2em;
}

.product .product-description {
  font-size: 0.9em;
  color: #666;
  margin: 0.5em 0 1.5em;
}

/* Pagination controls */
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 20px; 
  list-style: none;
}

/* Product Filtering */
#product-filters {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  margin-top: 2em;
}

#product-filters .filter-option {
  margin-bottom: 10px;
}

#product-filters .filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#product-filters .filter-button {
  padding: 8px 16px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#product-filters .filter-button:hover {
  background-color: #666666;
}

/* On-Sale Product Styling */
.product.on-sale {
  border: 2px solid #e74c3c; /* Example red border */
  position: relative;
}

.sale-badge {
  content: 'Sale!';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e74c3c;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-bottom-left-radius: 4px;
}