<h1><%= @category.name %> Products</h1>
<div class="products-list">
  <% @products.each do |product| %>
    <div class="product">
      <!-- Display product info here -->
    </div>
  <% end %>
</div>
